<div class="row">
	<div class="col-lg-12">
		<div class="file-upload">
			<div class="file-input btn btn-default">
				<input class="upload" type="file" ngf-select ng-model="$ctrl.$file" placeholder="Click to select file">
				<span ng-if="!$ctrl.$file">Click to upload</span>
				<span>{{$ctrl.$file.name}}</span>
			</div>
			<button type="submit" class="btn btn-primary file-submit-btn" ng-click="$ctrl.fileUploadSelection($ctrl.$file)">&nbsp;<i class="fa fa-upload" aria-hidden="true"></i>&nbsp;</button>
		</div>
	</div>
</div>