<div ng-repeat="item in $ctrl.data" class="point" style="left: {{$ctrl.getX(item)}}px; top: {{$ctrl.getY(item)}}px">
	<i class="fa fa-times" style="color: {{$ctrl.color}};" aria-hidden="true"></i>
</div>