<div>
	<div ng-if="gameDataCtrl.loaded" style="position: relative;">
		<div class="gameLoop">
			<div class="activation">
				<!-- <input type="checkbox" /> -->
			</div>
			<div class="selector">
				<select class="form-control" ng-model="gameDataCtrl.selectFilter.playerId" ng-change="gameDataCtrl.selectChange()" ng-options="player.id as (player.login + ' (' + player.hero + ')') for player in gameDataCtrl.playerList">
					<option value="-1">Player</option>
				</select>
			</div>
			<div class="selector">
				<!-- <select class="form-control" ng-model="gameDataCtrl.selectFilter.action" ng-options="action.key as action.value for action in gameDataCtrl.actions">
				  <option value="">Action</option>
				</select> -->
			</div>
			<div class="number left">
				{{gameDataCtrl.gameLoop}}
			</div>
			<div class="range">
				<input class="form-control" 
						min="{{gameDataCtrl.getMinLoop}}" 
						max="{{gameDataCtrl.getMaxLoop}}"
						ng-model="gameDataCtrl.gameLoop"
						type="range"
						ng-change="gameDataCtrl.filterData()"
				/>
			</div>
			<div class="number right">
				{{gameDataCtrl.getMaxLoop}}
			</div>
		</div>
		<button ng-click="gameDataCtrl.gridOnTop = !gameDataCtrl.gridOnTop" class="btn btn-primary move-button" style="position: absolute; right: 0; border-radius:10px;"><i class="fa fa-table" aria-hidden="true"></i></button>
		<map-directive map="{{gameDataCtrl.map}}" data="gameDataCtrl.gameData" moves="gameDataCtrl.movePoints"></map-directive>
		<div class="data-grid" ng-class="gameDataCtrl.gridOnTop ? 'on-top' : ''">
			<div class="row header-data">
				<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
					Hero
				</div>
				<div class="col-lg-2 col-md-3 hidden-sm-down">
					Killed Players:
				</div>
				<div class="col-lg-2 col-md-3 hidden-sm-down">
					Deaths:
				</div>
				<div class="col-lg-2 col-md-3 hidden-sm-down">
					Killed Units:
				</div>
				<div class="col-lg-4 hidden-md-down">
					Talents
				</div>
			</div>
			<div class="row player-data" ng-repeat="player in gameDataCtrl.playerList" ng-class="player.redTeam ? 'redTeam' : 'blueTeam'">
				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-6 art">
					<img src="http://vignette4.wikia.nocookie.net/heroesofthestorm/images/4/40/NexusChargerPortrait.png" />
				</div>
				<div class="col-lg-1 col-md-2 col-sm-4 col-xs-6 login">
					{{player.login}}
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 stats">
					<div class="hidden-md-up" style="float: left;">
						Killed Players:
					</div>
					{{player.numbers.killedPlayers}}
				    <button class="btn btn-primary" ng-class="player.display.killedPlayers ? 'active' : ''" ng-click="gameDataCtrl.toggleKilledPlayers(player)"><i class="fa fa-eye" aria-hidden="true"></i></button>
				    
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 stats">
					<div class="hidden-md-up" style="float: left;">
						Deaths:
					</div>
					{{player.numbers.deaths}}
					<button class="btn btn-primary" ng-class="player.display.deaths ? 'active' : ''" ng-click="gameDataCtrl.togglePlayerDeaths(player)"><i class="fa fa-eye" aria-hidden="true"></i></button>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 stats">
					<div class="hidden-md-up" style="float: left;">
						Killed Units:
					</div>
					{{player.numbers.killedUnits}}
					<button class="btn btn-primary" ng-class="player.display.killedUnits ? 'active' : ''" ng-click="gameDataCtrl.toggleKilledUnits(player)"><i class="fa fa-eye" aria-hidden="true"></i></button>

				</div>
				<div class="col-lg-4 col-md-12 col-xs-12 talents">
					<div class="talent" ng-repeat="talent in player.talents">
						<img src="http://media.heroesnexus.com/avatars/thumbnails/1170/228/64/64/icon.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>