<nav class="navbar navbar-default">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Hots Analyzer</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="UserController as userCtrl">
			<ul class="nav navbar-nav navbar-left">
				<li ng-if="userCtrl.logginned"><a href="#/mypage/">My Games</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="userCtrl.logginned"><a href="#">{{userCtrl.currentUser != null ? userCtrl.currentUser.login : ''}}</a></li>
				<li ng-if="userCtrl.logginned" ng-click="userCtrl.signOut()"><a href="#" >Sign Out</a></li>
				<li ng-if="!userCtrl.logginned" ng-click="userCtrl.signIn()"><a href="#">Sign In</a></li>
				<li ng-if="!userCtrl.logginned" ng-click="userCtrl.signUp()"><a href="#">Sing Up</a></li>
			</ul>
			
			<div class="modal fade" tabindex="-1" id="userDialog" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title">
								<span ng-if="userCtrl.isLoginDialog">Sign In</span>
								<span ng-if="!userCtrl.isLoginDialog">Sign Up</span>
							</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<input type="text" class="form-control" id="login" placeholder="Login" ng-model="userCtrl.form.login">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="passwprd" placeholder="Password" ng-model="userCtrl.form.password">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" ng-if="userCtrl.isLoginDialog" ng-click="userCtrl.login();">Sing In</button>
							<button type="button" class="btn btn-primary" ng-if="!userCtrl.isLoginDialog" ng-click="userCtrl.registration();">Sing Up</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>